@font-face {
    font-family: 'tbkfontsicons_regular';
    src: url('../fonts/tbkfontsicons.woff2') format('woff2'),
         url('../fonts/tbkfontsicons.woff') format('woff'),
         url('../fonts/tbkfontsicons.svg#tbkfontsicons_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icg-"]:before, [class*=" icg-"]:before {
  font-family: 'tbkfontsicons_regular'!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}


.icg-mail:before				{ content:"\0041" }
.icg-llave:before				{ content:"\0042" }
.icg-candado:before			{ content:"\0043" }
.icg-usuario-mas:before { content:"\0044" }
.icg-terminos:before		{ content:"\0045" }
.icg-usuario:before			{ content:"\0046" }
.icg-ubicacion:before		{ content:"\0047" }
.icg-plugins:before			{ content:"\0048" }
.icg-sdk:before					{ content:"\0049" }
.icg-api:before					{ content:"\004A" }
.icg-manuales:before		{ content:"\004B" }
.icg-integrador:before	{ content:"\004C" }
.icg-developers:before	{ content:"\004D" }
.icg-codigo:before			{ content:"\004E" }
.icg-youtube:before			{ content:"\004F" }
.icg-precaucion:before	{ content:"\0050" }
.icg-burguer:before			{ content:"\0051" }
.icg-mayor:before				{ content:"\0052" }
.icg-visitas:before			{ content:"\0053" }
.icg-empresas:before		{ content:"\0054" }
.icg-like:before				{ content:"\0055" }
.icg-visto:before				{ content:"\0056" }
.icg-implementa:before	{ content:"\0057" }
.icg-cod-barra:before		{ content:"\0058" }
.icg-sexo:before				{ content:"\0059" }
.icg-direccion:before		{ content:"\005A" }
.icg-estudios:before		{ content:"\005B" }
.icg-telefono:before		{ content:"\005C" }
.icg-movil:before				{ content:"\005D" }
.icg-web:before					{ content:"\005E" }


.icg1x { font-size: 16px; }
.icg1bx { font-size: 24px; }
.icg2x { font-size: 32px; }
.icg3x { font-size: 48px; }
.icg4x { font-size: 64px; }
.icg5x { font-size: 80px; }
.icg6x { font-size: 96px; }
.icg7x { font-size: 112px; }
.icg8x { font-size: 128px; }
.icg9x { font-size: 144px; }

.icg{ color: #717175 }

.icgActive  { color: #C30C39; }
.icgDisable { opacity: .32; }
